# <span style="color:darkslategray">ABC LLC - Leads for Health Insurance Services </span>

### <span style="color:dimgray">Importing packages</span>

In [1]:
# Importing general packages
import pandas as pd
import dfply

from dfply import *
import numpy as np

# Importing packages for vizualization
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
%matplotlib inline
import seaborn as sns

### <span style="color:dimgray">Loading data</span>

<b>Features of df_bids:</b><br/>
● created: time of the bid<br />
● leadID: unique ID of lead<br />
● max_bid: bid offered by Abc LLC for that particular lead<br />
● won: 1 if their bid was the highest and they won the bid, 0 otherwise

In [14]:
# Reading Bids csv file
df_bids = pd.read_csv('C:/Users/ZsoltNagy/Desktop/github_projects/ABC_LLC_Leads_Boberdoo/ABC_LLC_Leads/Data/bids_hw.csv', index_col=0)
df_bids.head(5)

C:\Users\ZsoltNagy\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

               created  leadID  max_bid  won
1  2017-12-22 16:08:21       4     22.0    1
2  2018-01-18 16:18:19      30      4.0    1
3  2018-01-22 16:08:57     120      5.0    1
4  2018-01-23 17:28:09     258      5.0    1
5  2018-01-23 18:16:10     266      6.0    1

<b>Features of df_leads:</b><br />
● leadID: unique ID of the lead<br />
● state_18: the state where the lead lives in<br />
● gender_18: lead's gender, which is 1 if male, and 2 if female<br />
● estimated_household_income_18: this is the lead's estimation of their own household income per year in dollars <br />
● cpa_status_18: 1 for closed leads, 0 for lost leads<br />
● premium_amount_18: value of the contract signed, to be paid monthly in dollars<br />

In [15]:
# Reading Leads csv file
df_leads = pd.read_csv('C:/Users/ZsoltNagy/Desktop/github_projects/ABC_LLC_Leads_Boberdoo/ABC_LLC_Leads/Data/leads_hw.csv', index_col=0)
df_leads.head(5)

,leadID,state_18,gender_18,age_18,estimated_household_income_18,cpa_status_18,premium_amount_18
1,4,IL,1,37.00,45000,1.0,700
2,30,NY,2,43.35,65000,0.0,0
3,120,NY,1,32.96,90000,0.0,0
4,258,NY,1,34.82,65000,0.0,0
5,266,NY,2,40.35,65000,0.0,0

### <span style="color:dimgray">Merging dataset</span>

In [17]:
df = df_leads >> left_join(df_bids, by = "leadID")
df.head(10)

,leadID,state_18,gender_18,age_18,estimated_household_income_18,cpa_status_18,premium_amount_18,created,max_bid,won
0,4,IL,1,37.00,45000,1.0,700,2017-12-22 16:08:21,22.0,1
1,30,NY,2,43.35,65000,0.0,0,2018-01-18 16:18:19,4.0,1
2,120,NY,1,32.96,90000,0.0,0,2018-01-22 16:08:57,5.0,1
3,258,NY,1,34.82,65000,0.0,0,2018-01-23 17:28:09,5.0,1
4,266,NY,2,40.35,65000,0.0,0,2018-01-23 18:16:10,6.0,1
5,348,NY,1,36.00,35000,0.0,0,2018-01-23 22:29:37,4.0,1
6,354,NY,1,36.69,35000,0.0,0,2018-01-23 22:30:47,4.0,1
7,360,MA,2,55.02,35000,0.0,0,2018-01-23 22:39:53,4.0,1
8,370,MA,1,57.89,90000,0.0,0,2018-01-23 22:44:28,4.0,1
9,382,NY,2,34.89,76000,1.0,554,2018-01-23 22:49:55,3.0,1